<header>
    <div class="container">
        <nav class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <!-- <li><a href="{{site.baseurl}}/settings/01-access-point.html">Software</a></li> -->
                <li><a href="/settings/">Settings</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </nav>
        <h3><a href="/">Rice<strong>Autodrone</strong></a></h3>
    </div>
</header>