div.footer_container{
    background-color: #5a5a56;
}

div.container {
	margin: 0 auto;
	padding: 0 20px;
    background-color: #5a5a56;
	max-width: 940px;
}

div.small-container {
	margin: 0 auto;
	padding: 0 20px;
    background-color: #5a5a56;
	max-width: 700px;
}

div.blog-container{
    background-color: #ffffff;
}