section.hero {
	color: #fff;
	/* background-image: url('/assets/img/drone.jpg'); */
	/* background-size: cover; */
	/* padding: 300px 0; */
}

section.hero a{
	text-decoration: none;
	color: #f0eeee;
}

section.category{
	padding: 20px;
    background-color: #5a5a56;
}
