h1 {
	padding: 0;
	margin: 0;
	font-size: 300px;
	font-weight: bold;
	text-align: center;
}

h2 {
	padding: 0;
	margin: 0;
	font-size: 60px;
	text-align: center;
}

h3 {
	font-size: 1.8em;
	font-weight: normal;
}

h3.category{
	color: azure;
}

p {
	line-height: 1.6em;
}

a {
	color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

p.post-hero {
	width: 80%;
	margin: 0 auto;
}

p.sub-text {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 28px;
	color:#ffffff
}

h1.setting-up-the-flight-controller{
	
	color:#d61111
}